@import '../../variables.css';

.small {
  height: 32px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 4px;
}

.medium {
  height: 32px;
  padding: 7px 12px;
  font-size: 15px;
  line-height: 18px;
  border-radius: 4px;
}

.large {
  height: 48px;
  padding: 15px 12px;
  font-size: 15px;
  line-height: 18px;
  border-radius: 6px;
}

.primary {
  display: inline-flex;
  justify-content: center;
  background-color: var(--primary);
  transition: background-color 0.2s;

  .text {
    color: var(--white);
  }
}

.primary:hover {
  background-color: #0077f0;
}

.primary:active {
  background-color: #0065cc;
}

.primary:disabled {
  pointer-events: none;
  cursor: default;
  background-color: var(--primary);
  opacity: 0.3;
}

.secondary {
  display: inline-flex;
  justify-content: center;
  color: var(--dark);
  background-color: var(--grey-3);

  &:hover {
    background-color: #e0e4eb;
  }

  &:active {
    background-color: #ced5de;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    background-color: var(--grey-3);
    opacity: 0.4;
  }
}

.full-width {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s;

  .icon {
    color: currentColor;
  }

  .start-icon {
    margin-right: 8px;
  }

  .end-icon {
    margin-left: 8px;
  }
}

.hide {
  opacity: 0;
}

.loading {
  &.primary:disabled {
    color: var(--white);
    background-color: var(--primary);
    opacity: 1;
  }

  &.secondary:disabled {
    color: var(--dark);
    background-color: var(--grey-3);
    opacity: 1;
  }
}
