:root {
  --primary: #198cff;
  --secondary: #bddeff;
  --white: #fff;
  --dark: #262626;

  --gren: #17cf36;
  --red: #ff3d33;

  --grey-1: #8f99a3;
  --grey-2: #c4ccd4;
  --grey-3: #f0f2f5;

  --base-border-radius: 6px;
}
